.mani-menue ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

background-image: -o-linear-gradient(top, #045D8C 50%, #20282B 75%);
background-image: -moz-linear-gradient(top, #045D8C 50%, #20282B 75%);
background-image: -webkit-linear-gradient(top, #045D8C 50%, #20282B 75%);
background-image: -ms-linear-gradient(top, #045D8C 50%, #20282B 75%);
background-image: linear-gradient(to top, #045D8C 50%, #20282B 75%);
}
.mani-menue{
  margin-left: -15px;
max-width: 1024px;
}
.mani-menue li {
    float: left;
}

.mani-menue li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.mani-menue li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}
#LeftPanel {
    width: 256px !important;
    text-align: left;
    vertical-align: top !important;
    padding: 0px;
    float: left;
}
.katagroin{
  background: gray;
color: white;
padding-left: 21px;
font-size: 20px;
margin-top: 10px;
margin-left: -15px;
}
#LeftPanel ul li{

list-style-type: circle;
border-bottom: 0.5px solid gray;
padding: 5px;
width: 252px;
margin-left: -56px;
}
.leftspace {
  margin-left: 19px;
}
ul {
    margin:0 padding:0;
    list-style-type:none;
}
.gallery-wrapper {
}
.main-img {
    width:300px;
}
.main-img img, .thumb img {
    width:100%;
}
.thumbnails {
}
.thumb {
    display:inline-block;
    width:100px;
    height:100px;
    margin-left:10px;
}
.thumb:first-child {
    margin-left:0;
}
.gmain{
  float: left;
    width: 740px;
    background: gray;
    color: white;
    padding-left: 21px;
    font-size: 20px;
    margin-top: 10px;
}
.gmain p{
  margin-bottom: 0px;
}
.side-text{
  padding-top: 20px;
  text-align: justify;
}
button.btn-default{
 float: right;
color: white;
background: background-image: -o-linear-gradient(top, #045D8C 50%, #20282B 75%);
background-image: -moz-linear-gradient(top, #045D8C 50%, #20282B 75%);
background-image: -webkit-linear-gradient(top, #045D8C 50%, #20282B 75%);
background-image: -ms-linear-gradient(top, #045D8C 50%, #20282B 75%);
background-image: linear-gradient(to top, #045D8C 50%, #20282B 75%);
}
.botomspace{
  margin-top: 150px;
}
.active{
  background: none;
}
.nav-tabs>li>a {
margin-right: 2px;
line-height: 1.42857143;
border-radius: 4px 4px 0 0;
font-size: 13px;
color: white;
background: background-image: -o-linear-gradient(top, #045D8C 50%, #20282B 75%);
background-image: -moz-linear-gradient(top, #045D8C 50%, #20282B 75%);
background-image: -webkit-linear-gradient(top, #045D8C 50%, #20282B 75%);
background-image: -ms-linear-gradient(top, #045D8C 50%, #20282B 75%);
background-image: linear-gradient(to top, #045D8C 50%, #20282B 75%);
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
  color:white;
  border: none;

}
.nav-tabs{
  border-bottom: none;
}
.round{
border: 1px solid grey;
border-radius: 17px;
padding: 10px;
margin-top: 10px;
}
.fo1{
  margin-top: 36px;
z-index: -1;
position: absolute;
}
.yellow ul li{
  display: inline-block;
  color: white;
  padding:5px;
  font-size: 13px;
}
.yellow ul li{
    border-right:solid white;
    border-right-width: 1px;
    line-height: 6px;
}
.yellow{
  margin-top: 54px;
margin-left: 440px;
}
